@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: scrollbars for modal */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 3px;
}
